body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* h1, h2, h3, h4, h5, h6, p{
  margin: 0 !important;
  padding: 0;
} */
.hello{
  font-weight: 500;
}
.colored-letter{
  color: rgb(6, 122, 6);
}
.h-text{
  font-weight: 700;
  font-size: 50px;
}
.p-text{
  font-size: 18px;
  font-weight: 500;
}

.nav-link{
  color: green;
  font-weight: 500;
}
.work-btn{
  border: 2px solid rgb(20, 82, 20);
  background: none;
  margin-top: 20px;
  font-weight: 600;
  padding: 10px 50px;
  background-color: green;
  color: white;
}
.work-btn:hover{
  border: 2px solid #4f9c2d;
  background: none;
  color: rgb(20, 82, 20);
  text-decoration: none;
}
.download{
  border: 2px solid green;
  padding: 11px 18px;
  margin-right: 10px;
  color: rgb(6, 90, 6);
  font-weight: 500;
  margin-top: 1px;
}
.download:hover{
  text-decoration: none;
  background-color: green;
  color: white;
}
.nav-link:hover{
  color: #000;
}
.resume-btn{
  background: none;
  color: #4f9c2d;
  font-weight: 500;
  border: 2px solid #4f9c2d;
  font-size: 20px;
  margin-top: -6px;
  padding: 8px 25px;
}
.resume-btn:hover{
  background-color: #4f9c2d;
  color: #fff;
}
.text-brand{
  font-weight: 700;
  margin: 90px 0 70px;
  text-align: center;
}
.text-brand u{
  text-decoration: none;
  border-bottom: 5px solid green;
}
.skill-icon img{
  width: 100px;
  transition: all 0.3s ease;
}
.skill-icon img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.project-body{
  position: relative;
  box-shadow: 5px 5px 10px rgb(187, 187, 187);
  border-radius: 15px;
  perspective: 1000px;
}
.project-body .project-card{
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}
.project-body:hover .project-card{
  transform: rotateY(-90deg);
}
.project-body .project-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px 30px 40px 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  color:white;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}
.project-body:hover .project-content{
  transform: rotateY(0);
}

.project-img img{
  /* box-shadow: 5px 5px 5px gray;
  margin-bottom: 15px; */
  border-radius: 10px 10px 0 0;
}
.project-details{
  background-color: #7ab95f;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.project-description{
  font-weight: 500;
}
.tools{
  border: 1px solid black;
 /* background-color: #4f9c2d; */
 margin-bottom: 5px;
 padding: 5px 10px;
 color: #162c0c;
 border-radius: 3px;
 box-shadow: 2px 2px 2px gray;
}
.tech-tools{
 margin-left: -40px;

}

.live-link, .git-link{
  background-color: rgb(24, 24, 24);
  border: 1px solid green;
  color: white;
  padding: 6px 10px;
  border-radius: 3px;
  margin: -5px 10px 0 -5px;
  font-size: 15px;
}
.live-link:hover, .git-link:hover{
  background-color: #295f11;
  color: white;
  text-decoration: none;
}
.explore-btn{
  border: 2px solid #4f9c2d;
  padding: 10px 85px;
  color: black;
  font-weight: 700;
}
.explore-btn:hover{
  background-color: #4f9c2d;
  color: #fff;
  text-decoration: none;
}
.profile-img{
  width: 200px;
  border-radius: 50%;
}
.contact{
  background-color: #000;
}
.form{
  width: 80%;
 
}
.form input, .form textarea{
 background-color: #83f552;
 opacity: 0.6;
}
.send-sms{
  border: 2px solid #4f9c2d;
  background: none;
  padding: 10px 40px;
  color: white;
  font-weight: 500;

}
.send-sms:hover{
  background-color: #91e96c;
  color: black;
}
.form input::placeholder, .form textarea::placeholder {
  color: #000;
  opacity: 1;
}
.social-icon ul li>img{
  width: 85%;
  padding: 5px;
}

.about-me{
  background-color: #baeca4;
}
.about-text{
  margin-top: -1px;
}
.address{
  background-image: url(./images/about.png);
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.address-text{
  /* margin-top: 290px; */
}