body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* h1, h2, h3, h4, h5, h6, p{
  margin: 0 !important;
  padding: 0;
} */
.h-text{
  font-weight: 700;
}
.p-text{
  font-size: 18px;
}
.header-bg{
  background-image: url(./images/header-bg.jpg);
  background-repeat: no-repeat;
  height: 700px;
  background-size: cover;
  background-position: top center;
  border-bottom: 5px solid #000;
}
.header-content{
  margin-top: 100px;
}
.nav-link{
  color: #4f9c2d;
  font-weight: 500;
}
.work-btn{
  border: 2px solid #4f9c2d;
  background: none;
  margin-top: 20px;
  font-weight: 600;
  padding: 10px 40px;
  background-color: #66D02E;
}
.work-btn:hover{
  border: 2px solid #4f9c2d;
  background: none;
}
.nav-link:hover{
  color: #000;
}
.resume-btn{
  background: none;
  color: #4f9c2d;
  font-weight: 500;
  border: 2px solid #4f9c2d;
  font-size: 20px;
  margin-top: -6px;
  padding: 8px 25px;
}
.resume-btn:hover{
  background-color: #4f9c2d;
  color: #fff;
}
.text-brand{
  font-weight: 700;
  margin: 90px 0 70px;
  text-align: center;
}
.text-brand u{
  text-decoration: none;
  border-bottom: 5px solid green;
}
.skill-icon img{
  width: 100px;
}
.project-container{
  background-color: #E0FBB8;
}
.project-img{
 box-shadow: 3px 3px 0 rgb(214, 212, 212);
}
.project-details{
  background-color: #b6ec9f;
  box-shadow: 5px 5px 0 #4f9c2d;
  padding: 30px;
}
.tools{
 background-color: #4f9c2d;
 padding: 5px 10px;
 color: white;
 border-radius: 3px;
}
.tech-tools{
  margin-left: -46px;
}
.live-link, .git-link{
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 6px 10px;
  border-radius: 3px;
  margin: -5px 10px 0 -5px;
  font-size: 15px;
}
.live-link:hover, .git-link:hover{
  color: #4f9c2d;
  text-decoration: none;
}